$button-border-color: rgba(255, 255, 255, 0.3);
$button-background-color: rgba(255, 255, 255, 0.1);
$button-text-color: #D4D4D4;
$button-hover-background-color: rgba(255, 255, 255, 0.2);
$button-active-background-color: rgba(255, 255, 255, 0.3);
$button-focus-box-shadow-color: rgba(255, 255, 255, 0.3);
$button-box-shadow-color: rgba(0, 0, 0, 0.2);
$button-hover-box-shadow-color: rgba(0, 0, 0, 0.3);
$button-active-box-shadow-color: rgba(0, 0, 0, 0.2);
$color-accent: #56c7d6;

.actors-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;

    .actor-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .actor-image {
        width: 120px;
        height: 179px;
        padding: 10px;
        border: 2px solid $color-accent;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }

    h3 {
        text-align: center;
    }
}

@media (max-width: 430px) {
    .actors-container {
        width: unset;

        h3 {
            font-size: 15px;
        }
    }

    .actor-card {
        font-size: 14px;
    }

    .actor-image {
        width: 100%;
    }
}