$color-background: #000000;
$color-foreground: #D4D4D4;
$color-primary: #9900cc;
$color-secondary: #3A3D41;
$color-accent: #569CD6;
$color-red: #F44747;
$color-gold: #FFCC00;

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/hollywood_views.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $color-foreground;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}