.game-board {
    padding: 20px;
}

.instruction-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.actors-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.movies-list {
    margin-top: 20px;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    li {
        list-style: none;
        width: 100px;
        text-align: center;
    }

    .movie-poster {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

.selected-movie {
    margin-top: 20px;
    text-align: center;
}

.actors-in-movie {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    li {
        list-style: none;
        width: 80px;
        text-align: center;
        cursor: pointer;
    }

    .actor-image {
        width: 100%;
        height: auto;
    }
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}