$color-background: #000000;
$color-foreground: #D4D4D4;
$color-primary: #9900cc;
$color-secondary: #3A3D41;
$color-accent: #569CD6;
$color-red: #F44747;
$color-gold: #FFCC00;

.game-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding: 20px;
    border: 1px solid $color-gold;
    border-radius: 5px;
    margin: auto;
}

.game-description p {
    margin: 10px 0;
}

.game-description h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.game-description p {
    font-size: 15px;
    margin-bottom: 10px;
}