$color-background: #000000;
$color-foreground: #D4D4D4;
$color-primary: #9900cc;
$color-secondary: #3A3D41;
$color-accent: #56c7d6;
$color-red: #F44747;
$color-gold: #FFCC00;

.game-container {
    text-align: center;
    padding: 20px;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 95vh;
    width: 97vw;
    padding: 20px;
    border: 1px solid $color-gold;
    border-radius: 5px;
    margin: auto;
    box-sizing: border-box;
    overflow-y: auto;
}

.subtitle-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.instruction-container {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}

.movies-list {
    margin-top: 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    li {
        list-style: none;
        width: 100px;
        text-align: center;
    }
}

.selected-movie {
    margin-top: 20px;
    text-align: center;
}

.actors-in-movie {


    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    li {
        list-style: none;
        width: 80px;
        text-align: center;
        cursor: pointer;
    }
}