.home {
    text-align: center;
    padding: 20px;
}

.home h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.home ul {
    list-style-type: none;
    padding: 0;
}

.home ul li {
    margin: 10px 0;
}

@media (max-width: 430px) {
    .home ul {
        margin-top: -10px;
    }
}