$button-border-color: rgba(255, 255, 255, 0.3);
$button-background-color: rgba(255, 255, 255, 0.1);
$button-text-color: #D4D4D4;
$button-hover-background-color: rgba(255, 255, 255, 0.2);
$button-active-background-color: rgba(255, 255, 255, 0.3);
$button-focus-box-shadow-color: rgba(255, 255, 255, 0.3);
$button-box-shadow-color: rgba(0, 0, 0, 0.2);
$button-hover-box-shadow-color: rgba(0, 0, 0, 0.3);
$button-active-box-shadow-color: rgba(0, 0, 0, 0.2);
$color-primary: #9900cc;
$color-red: #F44747;

.movie-card {
    margin-top: 20px;
    text-align: center;

    .movie-card__title {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .movie-card__poster {
        height: auto;
        border-radius: 10px;
        width: 167px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;
        border: 2px solid $color-primary;
    }

    .movie-card__actors {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            margin-top: 20px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            padding: 20px;
        }

        li {
            list-style: none;
            width: 80px;
            text-align: center;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            padding: 10px;
            border: 2px solid $color-red;
        }
    }
}

.movie-poster {
    width: 83%;
    height: auto;

}