.movie-card {
    margin-top: 20px;
    text-align: center;
}

.movie-card__title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.movie-card__poster {
    height: auto;
    border-radius: 10px;
    width: 167px;
}

.movie-card__actors ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.movie-card__actors li {
    list-style: none;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.actor-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}